.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo {
  max-width: 230px;
}

.info {
  font-size: calc(10px + 2vmin);
  width: 460px;
  text-align: center;
}

.content {
  max-width: 850px;
  margin: 0 auto;
  padding-top: 25px;
}

.example {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgb(16 22 26 / 10%), 0 0 0 rgb(16 22 26 / 0%), 0 1px 1px rgb(16 22 26 / 20%);
}